<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oneconnect.leadership.library">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">

        <!-- METADATA -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:exported="true" />

        <!-- SERVICES -->
        <service android:name=".services.LeadershipInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.PhotoUploaderService"
            android:exported="false" />
        <service
            android:name=".services.VideoUploaderService"
            android:exported="false" />

        <activity android:name=".video.LeYouTubePlayerActivity" />
        <activity
            android:name=".activities.SubscriberDrawerActivity"
            android:label="@string/title_activity_subscriber_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DailyThoughtActivity"
            android:label="@string/title_activity_daily_thought"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PodcastActivity"
            android:label="@string/title_activity_podcast"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.VideoActivity"
            android:label="@string/title_activity_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.eBookActivity"
            android:label="@string/title_activity_e_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".video.VideoPlayerActivity"
            android:label="@string/title_activity_video_player"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PhotoActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".audio.PodcastSelectionActivity"
            android:label="@string/title_activity_podcast_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PodcastPlayerActivity"
            android:label="@string/title_activity_podcast_player"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FullPhotoActivity"
            android:label="@string/title_activity_full_photo"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>