<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ocg.leadership.company">

    <uses-sdk tools:overrideLibrary="com.firebase.ui, com.firebase.ui.auth" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".CompanyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_business_black_48dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_business_black_48dp"
        android:theme="@style/RedTheme"
        tools:replace="android:theme">

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8419153fba562e57532d0502ff0e71266daa9d2b"
            tools:replace="android:value" />

        <activity
            android:name=".CompanySigninActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.oneconnect.leadership.library.activities.ColorPickerActivity"
            android:label="@string/color_picker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oneconnect.leadership.library.activities.FullArticleActivity"
            android:label="@string/title_activity_full_article"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".CompanyMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="https://leadershipplatform-158316.firebaseapp.com/"
                    android:scheme="http" />
                <data
                    android:host="https://leadershipplatform-158316.firebaseapp.com/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oneconnect.leadership.library.audio.PodcastSelectionActivity"
            android:label="@string/title_activity_podcast_selection"
            android:parentActivityName=".CompanyMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oneconnect.leadership.library.audio.PodcastListActivity"
            android:label="@string/title_activity__podcast_list"
            android:parentActivityName="com.oneconnect.leadership.library.audio.PodcastSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oneconnect.leadership.library.camera.VideoSelectionActivity"
            android:label="@string/app_name"
            android:parentActivityName=".CompanyMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oneconnect.leadership.library.camera.VideoListActivity"
            android:label="@string/title_activity_video_list"
            android:parentActivityName="com.oneconnect.leadership.library.camera.VideoSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CompanyDrawerActivity"
            android:label="@string/title_activity_company_drawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>


    </application>

</manifest>