<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oneconnect.leadership.internal.app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_beacon"
        android:label="@string/app_name"
        android:name=".InternalApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AdminTheme">
        <activity android:name=".InternalMainActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>