<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oneconnect.leadership.subscriber">

    <uses-sdk tools:overrideLibrary="com.firebase.ui, com.firebase.ui.auth" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SubscriberApp"
        android:allowBackup="true"
        android:icon="@drawable/leadership_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">


        <service android:name=".services.SubscriberMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider12345"
            android:exported="true" />

        <activity
            android:name=".SubscriberSignInActivityBase"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
       <!-- <activity
            android:name=".SubscriberSignInActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>-->
        <activity
            android:name=".NotifHandlerActivity"
            android:label="@string/title_activity_notif_handler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubscriberMainActivity"
            android:label="@string/title_activity_subscriber_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="https://leadershipplatform-158316.firebaseapp.com/" android:scheme="http"/>
                <data android:host="https://leadershipplatform-158316.firebaseapp.com/" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.oneconnect.leadership.library.lists.MediaListActivity"
            android:label="@string/title_activity_media_list"
            android:parentActivityName=".SubscriberMainActivity" />
        <activity
            android:name="com.oneconnect.leadership.library.activities.DailyThoughtApprovalActivity"
            android:label="@string/title_activity_daily_thought"
            android:parentActivityName=".SubscriberMainActivity" />
        <activity
            android:name="com.oneconnect.leadership.library.activities.MasterActivity"
            android:label="@string/title_activity_weekly_classes"
            android:parentActivityName=".SubscriberMainActivity" />
        <activity
            android:name="com.oneconnect.leadership.library.activities.eBookActivity"
            android:label="@string/title_activity_e_book"
            android:parentActivityName=".SubscriberMainActivity" />
        <activity
            android:name="com.oneconnect.leadership.library.activities.VideoActivity"
            android:label="@string/title_activity_video"
            android:parentActivityName=".SubscriberMainActivity" />
        <activity
            android:name="com.oneconnect.leadership.library.activities.PodcastActivity"
            android:label="@string/title_activity_podcast"
            android:parentActivityName=".SubscriberMainActivity" />
        <activity
            android:name="com.oneconnect.leadership.library.activities.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:parentActivityName=".SubscriberMainActivity" />
        <activity
            android:name="com.oneconnect.leadership.library.video.LeExoPlayerActivity"
            android:label="@string/title_activity_le_exo_player"
            android:parentActivityName=".SubscriberMainActivity" />
        <activity
            android:name="com.oneconnect.leadership.library.video.VideoPlayerActivity"
            android:label="@string/title_activity_video_player"
            android:parentActivityName=".SubscriberMainActivity" />
        <activity
            android:name="com.oneconnect.leadership.library.activities.PhotoActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".SubscriberMainActivity" />

        <activity android:name="com.oneconnect.leadership.library.activities.PodcastPlayerActivity"
            android:label="@string/title_activity_podcast_player"
            android:parentActivityName=".SubscriberMainActivity"/>

        <activity
            android:name="com.oneconnect.leadership.library.activities.FullArticleActivity"
            android:label="@string/title_activity_full_article"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bf8084862d623f44e2edfdf76bc8e2be5ba185a8"
            tools:replace="android:value" />

        <activity
            android:name="com.oneconnect.leadership.library.activities.RatingActivity"
            android:label="@string/title_activity_my_android_app"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_category"
            android:parentActivityName=".SubscriberMainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oneconnect.leadership.library.activities.DeepLinkActivity"
            android:label="@string/title_activity_deep_link"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="https://leadershipplatform-158316.firebaseapp.com/" android:scheme="http"/>
                <data android:host="https://leadershipplatform-158316.firebaseapp.com/" android:scheme="https"/>
            </intent-filter>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".SubscriberSignInActivity"/>
    </application>

</manifest>