<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oneconnect.leadership.admin"> <!--  -->
    <uses-sdk tools:overrideLibrary="com.firebase.ui, com.firebase.ui.auth" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--
Error:Failed to resolve: com.afollestad:easyvideoplayer:0.3.0
<a href="openFile:/work/REPOS/REPOS-2016/LeadershipPlatformRepo/Leadership001/admin/build.gradle">Open File</a><br><a href="open.dependency.in.project.structure">Show in Project Structure dialog</a>
    -->
    <!-- <uses-permission android:name="android.permission.WRITE_CALENDAR"/> -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AdminApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_clipboard"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <service android:name=".services.AdminMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:exported="true" />

       <activity
            android:name=".AdminSignInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity2"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity
            android:name=".NotifHandlerActivity"
            android:label="@string/title_activity_notif_handler"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminMainActivity"
            android:label="@string/title_activity_admin_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".crud.CrudActivity"
            android:label="@string/title_activity_crud"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".calendar.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".crud.CrudActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oneconnect.leadership.library.camera.CameraActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".crud.CrudActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oneconnect.leadership.library.links.LinksActivity"
            android:label="@string/title_activity_links"
            android:parentActivityName=".crud.CrudActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oneconnect.leadership.library.video.LeExoPlayerActivity"
            android:label="@string/title_activity_le_exo_player"
            android:parentActivityName="com.oneconnect.leadership.library.camera.VideoSelectionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oneconnect.leadership.library.video.LeYouTubePlayerActivity"
            android:label="@string/title_activity_le_you_tube"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oneconnect.leadership.library.lists.MediaListActivity"
            android:label="@string/title_activity_media_list"
            android:parentActivityName=".crud.CrudActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oneconnect.leadership.library.camera.VideoSelectionActivity"
            android:label="@string/title_activity_video_selection"
            android:parentActivityName=".crud.CrudActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oneconnect.leadership.library.audio.PodcastSelectionActivity"
            android:label="@string/title_activity_podcast_selection"
            android:parentActivityName=".crud.CrudActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oneconnect.leadership.library.audio.AudioPlayerActivity"
            android:label="@string/title_activity_audio_player"
            android:parentActivityName=".crud.CrudActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oneconnect.leadership.library.ebook.EbookSelectionActivity"
            android:label="@string/title_activity_ebook_selection"
            android:parentActivityName=".crud.CrudActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oneconnect.leadership.library.photo.PhotoSelectionActivity"
            android:label="@string/title_activity_photo_selection"
            android:parentActivityName=".crud.CrudActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.oneconnect.leadership.library.audio.AudioRecordTest"
            android:label="@string/title_activity_record"
            android:parentActivityName=".crud.CrudActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8419153fba562e57532d0502ff0e71266daa9d2b"
            tools:replace="android:value" />

        <activity
            android:name="com.oneconnect.leadership.library.ebook.EbookListActivity"
            android:label="@string/title_activity_ebook_list"
            android:parentActivityName=".crud.CrudActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.oneconnect.leadership.library.activities.NewsArticleActivity"
            android:label="@string/title_news"
            android:parentActivityName=".crud.CrudActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oneconnect.leadership.library.camera.VideoListActivity"
            android:label="@string/title_activity_video_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name="com.oneconnect.leadership.library.audio.PodcastListActivity"
            android:label="@string/title_activity__podcast_list"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.oneconnect.leadership.library.activities.ImageListActivity"
            android:label="@string/title_activity_image_list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>